.header {
    padding: 1% 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: white;
    font-size: 18px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
.header_block {
  margin: 1% auto;
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
  .logo img {
    width: 50px; /* Задайте нужный размер логотипа */
    height: auto;
  }
  .logo {
    align-items: center;
    display: flex;  
  }
  a {
    color: rgb(0, 0, 0);
  }
.menu {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.menu > li {
    position: relative;
  }
  .menu > li::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(64,123,255);
    border-radius: 3px;
  }
  .menu > li::after {
    width: 0;
    transition: 0.3s;
  }
  .menu > li:hover:after {
    width: 100%;
  }